openapi: 3.1.0
info:
  title: Cash Management APIs
  description: "The API is used by the consumer of the API to get account information and reporting of global, multi-country Account statement and Debit/Credit entries. At any time during the operating hours of the system, the account owner can request to get information about the account(s) that the account servicer maintains for the member. For example, this may be necessary in order to perform the appropriate liquidity management and the funds transfers between accounts. The API currently supports endpoint to get entries reported to the account, and/or to provide the owner with balance information on the account at a given point in time.\n\n`The API supports following functionalities:`\n\n* Retrieve list of account with balance information\n* Retrieve details of a specific account\n* Retrieve debit/credit entries reported to the account pending and booked items on the account at a given point in time to enable intraday reconciliation\n* Get account statement by the account owner, or authorised party, of the entries booked to the account, and to provide the owner with balance information on the account at a given point in time\n\n`Error Responses`\n\nThe API uses common HTTP status codes in the response header to indicate success or failure. Specific error code and description will be returned in the custom error schema.\n\n`Query Parameters`\n\nEach URL query parameter specifies an API query parameter that must be URL encoded.\n\n**v1.0.9 Release Notes**\n* All schema object containing \"oneOf\" syntax is updated to align with open API specification.\n* The header parameter X-ServiceProvider will be changed to X-UserContext.\n* PostalAddressUnstructured.country has been changed to optional.\n* An element CashAccount41.alternate_identification is added as a resource identifier where account identification cannot be used as a resource identification.\n* The element CashAccount41.linked_account  is changed to CashAccount41.related_account.\n* The elements CashCurrentBalance1.balance_type, CashAvailableBalance1.balance_type, CashForwardAvailableBalance1.balance_type has been dropped.\n* Batch indicator block to statement lines is added.\n* Return information block is added to Statement.\n* The charges block is added to Statement Entry details level.\n* The size of the element \"identification\" in both Statements and Statement Lines has been increased to 36 from 35 to accommodate UUID.\n\n**v1.0.8 Release Notes**\n* The query parameter account-servicer is added to the getAccounts endpoint.\n* Party identification object (Organisation/Person) in Statements and Statement Lines is changed to ISO component style. This is to address use case where identification of object is not always possible when only party name is available.\n* Account Identification in Statements and Statement Lines is aligned with ISO component.\n* Remittance Information, Purpose and Bank Transaction Code is added to Statement Lines.\n* The element interest, related_account is added to Statements    \n"
  contact:
    name: Standards & Developer Hub
    url: https://developer.swift.com
    email: developer-support@swift.com
  version: "1.0.9"
  x-server-configuration:
    default-environment: Sandbox
    default-server: Sandbox
    environments:
      - name: Sandbox
        servers:
          - name: default
            url: https://sandbox.swift.com/swift-cash-management/v1
      - name: Pilot
        servers:
          - name: Pilot Server
            url: https://api-test.swiftnet.sipn.swift.com/swift-cash-management-pilot/v1
      - name: Production
        servers:
          - name: Live Server
            url: https://api.swiftnet.sipn.swift.com/swift-cash-management/v1

jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://sandbox.swift.com/swift-cash-management/v1
    description: URL for Sandbox Environment.
    variables: {}
  - url: https://api-test.swiftnet.sipn.swift.com/swift-cash-management-pilot/v1
    description: URL for Pilot.
    variables: {}
  - url: https://api.swiftnet.sipn.swift.com/swift-cash-management/v1
    description: URL for Live.
    variables: {}
paths:
  /accounts:
    get:
      tags:
        - Account Information
      summary: getAccounts
      description: "The endpoint will retrieve all accounts with balance information for a specific account owner meeting the query parameters when supplied. The endpoint will return an empty array when no resource is found.\n\n**Specifying Request Filter**\n\nParameters are specified in the form name=value. A parameter list is appended to a URI after a \"?\". Multiple parameters are separated by \"&\".\n\n`Note that the query parameters are not URL encoded for readability.`\n\n**Use of logical operator OR (account-identification DE27212110090000000235698765 or DE27212318890001010223463456)**\n\nhttps://developer.swift.com/accounts?account-identification=DE27212110090000000235698765,DE27212318890001010223463456&limit=25&offset=0   \n\n**Use of logical operator AND (account-servicer and account-identification)**\n\nhttps://developer.swift.com/accounts?account-servicer=DEUTDEFF&account-identification=DE27212110090000000235698765&currency=EUR&limit=25&offset=0       \n"
      operationId: getAccounts
      parameters:
        - name: X-BIC
          in: header
          description: Specify the BIC of the provider of the service. The identification will be used by the API Gateway to forward the request to service provider.
          required: true
          style: simple
          schema:
            type: string
            examples:
              - DEUTDEFF
        - name: X-Request-ID
          in: header
          description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
          style: simple
          schema:
            type: string
        - name: X-UserContext
          in: header
          description: Provides requester entitlement information to service provider. A JWT containing a claim representing the entitlements of the API consumer as defined at the SWIFT Identity Provider. This header is provided by the SWIFT API Gateway and is not required to be provided by the API consumer.
          style: simple
          schema:
            type: string
            examples:
              - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIiLCJuYW1lIjoiIiwiaWF0IjowfQ.u_kftAUkjiUZO-OhIyj24H7lOUk1wi9GUF-e14JmCtQ
        - name: account-identification
          in: query
          description: >-
            Unique and unambiguous identification for the account between the account owner and the account servicer. It can be in IBAN or proprietary format.


            RECOMMENDATION IN ORDER OF PREFERENCE:

            IBAN - International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions. When available IBAN must be specified for instance endpoint or hyper link to work.


            Other - Identifier used nationally by financial institutions, i.e., in individual countries, generally as part of a National Account Numbering Scheme(s), to uniquely identify the account of a customer. In the absence of IBAN, this must be an unique account identification used for routing of the payment to the account via clearing system. A format which is agreed between the account owner and the account servicer. For example a SWIFT BIC/Branch Code and Account number.
          style: form
          explode: true
          schema:
            type: array
            items:
              maxLength: 36
              type: string
        - name: account-servicer
          in: query
          description: >-
            Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account. Valid BICs for financial institutions are registered and published by the ISO 9362 Registration Authority in the ISO directory of BICs, and consist of eight (8) or eleven (11) contiguous characters.


            Usage - The parameter provides the ability to a consumer requesting account related to a specific BIC.
          style: form
          explode: true
          schema:
            type: array
            items:
              pattern: ^[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}$
              type: string
        - name: currency
          in: query
          description: Specifies the currency of the account. The Currency Code must be registered, or have already been registered with the ISO 4217 Maintenance Agency, consist of three (3) contiguous letters, and may be or not be withdrawn on the day the message containing the Currency is exchanged.
          style: form
          explode: true
          schema:
            pattern: ^[A-Z]{3,3}$
            type: string
            examples:
              - EUR
        - name: offset
          in: query
          description: Specifies the offset / starting point in the list of all available items, starting from which results will be returned. The numeric offset identifies the page token, allowing users to advance to the next page in the collection. The value 0 (zero) identifies the first page of entry.
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            contentEncoding: int32
            default: 0
            examples:
              - 0
        - name: limit
          in: query
          description: The maximum number of items to return in a page. If unspecified, the default limit will be returned. If the limit specified is greater than the maximum permitted by the API, the API will return the maximum permitted limit. Each API should define *maximum and *default limit.
          style: form
          explode: true
          schema:
            minimum: 1
            type: integer
            contentEncoding: int32
            examples:
              - 1000
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AccountsResponse"
                  - examples:
                      - '{"cash_account":[{"account_identification":"string","alternate_identification":"3fa85f64-5717-4562-b3fc-2c963f66afa6","account_servicer":"ZBBKOCRW665","name":"string","owner_name":"string","currency":"EUR","related_account":"string","balances":{"current_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"0000000000000000000"},"credit_debit_indicator":"CRDT"},"last_change_date_time":"2022-04-12T02:22:27+01:00","date_time":"2022-04-12T20:00:46+01:00","last_committed_transaction_identification":"string","credit_line":[{"included":true,"type":"string","amount":{"currency":"EUR","amount":"0000000000000000000"}}]},"available_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"0000000000000000000"},"credit_debit_indicator":"CRDT"},"availability_date":"2022-04-12T04:51:22+01:00"},"forward_available_balance":[{"balance_amount":{"amount":{"currency":"EUR","amount":"0000000000000000000"},"credit_debit_indicator":"CRDT"},"availability_date":"7200-02-29"}]},"status":"string","credit_limit":{"currency":"EUR","amount":"0000000000000503180"},"links":[{"href":"string","rel":"string","type":"string"}]}],"links":[{"href":"string","rel":"string","type":"string"}]}'
                      - '{"cash_account":[{"account_identification":"DE27212110090000000235698765","alternate_identification":"3fa85f64-5717-4562-b3fc-2c963f66afa6","account_servicer":"DEUTDEFF","name":"SC Account 1","owner_name":"Sample Corporate 1","currency":"EUR","related_account":"SC Card Account","balances":{"current_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"6545.56"},"credit_debit_indicator":"CRDT"},"last_change_date_time":"2020-07-06T17:26:00.000+01:00","date_time":"2020-07-06T17:30:00.000+01:00","last_committed_transaction_identification":"3bf77b43-4833-1290-f2ca-4c599deb6","credit_line":[{"included":true,"type":"ABCD","amount":{"currency":"EUR","amount":"6545.56"}}]},"available_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"6545.56"},"credit_debit_indicator":"CRDT"},"availability_date":"2020-07-06T17:26:00.000+01:00"},"forward_available_balance":[{"balance_amount":{"amount":{"currency":"EUR","amount":"6545.56"},"credit_debit_indicator":"CRDT"},"availability_date":"2020-07-07"}]},"status":"enabled","credit_limit":{"currency":"EUR","amount":"6545.56"},"links":[{"href":"https://developer.swift.com/accounts/DE27212110090000000235698765","rel":"getAccounts","type":"GET"},{"href":"https://developer.swift.com/accounts/DE27212110090000000235698765/statements?limit=25&offset=0","rel":"getAccountStatement","type":"GET"}]},{"account_identification":"DE27212318890001010223463456","account_servicer":"DEUTDEFF","name":"SC Account 2","owner_name":"Sample Corporate 2","currency":"EUR","related_account":"SC Card Account","balances":{"current_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"632100.00"},"credit_debit_indicator":"CRDT"},"last_change_date_time":"2020-07-01T17:26:00.000+01:00","date_time":"2020-07-06T17:30:00.000+01:00","last_committed_transaction_identification":"3bf77b43-4833-1290-f2ca-4c599deb6","credit_line":[{"included":true,"type":"ABCD","amount":{"currency":"EUR","amount":"632100.00"}}]},"available_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"632100.00"},"credit_debit_indicator":"CRDT"},"availability_date":"2020-07-06T17:26:00.000+01:00"},"forward_available_balance":[{"balance_amount":{"amount":{"currency":"EUR","amount":"633100.00"},"credit_debit_indicator":"CRDT"},"availability_date":"2020-07-07"}]},"status":"enabled","credit_limit":{"currency":"EUR","amount":"632100.00"},"links":[{"href":"https://developer.swift.com/accounts/DE27212318890001010223463456","rel":"getAccounts","type":"GET"},{"href":"https://developer.swift.com/accounts/DE27212318890001010223463456/statements?limit=25&offset=0","rel":"getAccountStatement","type":"GET"}]}],"links":[{"href":"https://developer.swift.com/accounts?limit=25&offset=0","rel":"self","type":"GET"},{"href":"https://developer.swift.com/accounts?limit=25&offset=0","rel":"first","type":"GET"},{"href":"https://developer.swift.com/accounts?limit=25&offset=100","rel":"next","type":"GET"},{"href":"https://developer.swift.com/accounts?limit=25&offset=75","rel":"previous","type":"GET"},{"href":"https://developer.swift.com/accounts?limit=25&offset=200","rel":"last","type":"GET"}]}'
                      - '{"cash_account":[]}'
                contentMediaType: application/json
              examples:
                GetAccounts-Raw:
                  summary: Accounts Raw Response
                  value:
                    cash_account:
                      - account_identification: string
                        alternate_identification: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        account_servicer: ZBBKOCRW665
                        name: string
                        owner_name: string
                        currency: EUR
                        related_account: string
                        balances:
                          current_balance:
                            balance_amount:
                              amount:
                                currency: EUR
                                amount: "0000000000000000000"
                              credit_debit_indicator: CRDT
                            last_change_date_time: 2022-04-12T02:22:27+01:00
                            date_time: 2022-04-12T20:00:46+01:00
                            last_committed_transaction_identification: string
                            credit_line:
                              - included: true
                                type: string
                                amount:
                                  currency: EUR
                                  amount: "0000000000000000000"
                          available_balance:
                            balance_amount:
                              amount:
                                currency: EUR
                                amount: "0000000000000000000"
                              credit_debit_indicator: CRDT
                            availability_date: 2022-04-12T04:51:22+01:00
                          forward_available_balance:
                            - balance_amount:
                                amount:
                                  currency: EUR
                                  amount: "0000000000000000000"
                                credit_debit_indicator: CRDT
                              availability_date: 7200-02-29
                        status: string
                        credit_limit:
                          currency: EUR
                          amount: "0000000000000503180"
                        links:
                          - href: string
                            rel: string
                            type: string
                    links:
                      - href: string
                        rel: string
                        type: string
                list_of_accounts_full:
                  summary: A list of accounts with detail for each account
                  value:
                    cash_account:
                      - account_identification: DE27212110090000000235698765
                        alternate_identification: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        account_servicer: DEUTDEFF
                        name: SC Account 1
                        owner_name: Sample Corporate 1
                        currency: EUR
                        related_account: SC Card Account
                        balances:
                          current_balance:
                            balance_amount:
                              amount:
                                currency: EUR
                                amount: "6545.56"
                              credit_debit_indicator: CRDT
                            last_change_date_time: 2020-07-06T17:26:00.000+01:00
                            date_time: 2020-07-06T17:30:00.000+01:00
                            last_committed_transaction_identification: 3bf77b43-4833-1290-f2ca-4c599deb6
                            credit_line:
                              - included: true
                                type: ABCD
                                amount:
                                  currency: EUR
                                  amount: "6545.56"
                          available_balance:
                            balance_amount:
                              amount:
                                currency: EUR
                                amount: "6545.56"
                              credit_debit_indicator: CRDT
                            availability_date: 2020-07-06T17:26:00.000+01:00
                          forward_available_balance:
                            - balance_amount:
                                amount:
                                  currency: EUR
                                  amount: "6545.56"
                                credit_debit_indicator: CRDT
                              availability_date: 2020-07-07
                        status: enabled
                        credit_limit:
                          currency: EUR
                          amount: "6545.56"
                        links:
                          - href: https://developer.swift.com/accounts/DE27212110090000000235698765
                            rel: getAccounts
                            type: GET
                          - href: https://developer.swift.com/accounts/DE27212110090000000235698765/statements?limit=25&offset=0
                            rel: getAccountStatement
                            type: GET
                      - account_identification: DE27212318890001010223463456
                        account_servicer: DEUTDEFF
                        name: SC Account 2
                        owner_name: Sample Corporate 2
                        currency: EUR
                        related_account: SC Card Account
                        balances:
                          current_balance:
                            balance_amount:
                              amount:
                                currency: EUR
                                amount: "632100.00"
                              credit_debit_indicator: CRDT
                            last_change_date_time: 2020-07-01T17:26:00.000+01:00
                            date_time: 2020-07-06T17:30:00.000+01:00
                            last_committed_transaction_identification: 3bf77b43-4833-1290-f2ca-4c599deb6
                            credit_line:
                              - included: true
                                type: ABCD
                                amount:
                                  currency: EUR
                                  amount: "632100.00"
                          available_balance:
                            balance_amount:
                              amount:
                                currency: EUR
                                amount: "632100.00"
                              credit_debit_indicator: CRDT
                            availability_date: 2020-07-06T17:26:00.000+01:00
                          forward_available_balance:
                            - balance_amount:
                                amount:
                                  currency: EUR
                                  amount: "633100.00"
                                credit_debit_indicator: CRDT
                              availability_date: 2020-07-07
                        status: enabled
                        credit_limit:
                          currency: EUR
                          amount: "632100.00"
                        links:
                          - href: https://developer.swift.com/accounts/DE27212318890001010223463456
                            rel: getAccounts
                            type: GET
                          - href: https://developer.swift.com/accounts/DE27212318890001010223463456/statements?limit=25&offset=0
                            rel: getAccountStatement
                            type: GET
                    links:
                      - href: https://developer.swift.com/accounts?limit=25&offset=0
                        rel: self
                        type: GET
                      - href: https://developer.swift.com/accounts?limit=25&offset=0
                        rel: first
                        type: GET
                      - href: https://developer.swift.com/accounts?limit=25&offset=100
                        rel: next
                        type: GET
                      - href: https://developer.swift.com/accounts?limit=25&offset=75
                        rel: previous
                        type: GET
                      - href: https://developer.swift.com/accounts?limit=25&offset=200
                        rel: last
                        type: GET
                get_accounts_no_records:
                  summary: No record found by the criteria
                  value:
                    cash_account: []
        "400":
          description: Bad Request
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                examples:
                  - - severity: Fatal
                      code: Sw.Stds.D00003
                      text: The value must match the rules specified in <Element Name>.
                      user_message: Invalid IBAN format or invalid check digits.
                      more_info: string
                contentMediaType: application/json
              examples:
                ResponseCode-400-IBAN:
                  summary: No entitlement for the BIC
                  value:
                    - severity: Fatal
                      code: Sw.Stds.D00003
                      text: The value must match the rules specified in <Element Name>.
                      user_message: Invalid IBAN format or invalid check digits.
                      more_info: string
        "401":
          description: Unauthorized
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "403":
          description: Forbidden
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                examples:
                  - - severity: Fatal
                      code: Sw.Stds.XXXX
                      text: The Business identifier code supplied in <Element Name> is incorrect.
                      user_message: No entitlement for the supplied BIC.
                      more_info: string
                contentMediaType: application/json
              examples:
                ResponseCode-403:
                  summary: No entitlement for the BIC
                  value:
                    - severity: Fatal
                      code: Sw.Stds.XXXX
                      text: The Business identifier code supplied in <Element Name> is incorrect.
                      user_message: No entitlement for the supplied BIC.
                      more_info: string
        "406":
          description: Not Acceptable
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "415":
          description: Unsupported Media Type
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "429":
          description: Too Many Requests
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "500":
          description: Internal Server Error
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "502":
          description: Bad Gateway
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "503":
          description: Service Unavailable
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "504":
          description: Gateway Timeout
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        default:
          description: Internal Server Error
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /accounts/{account-identification}:
    get:
      tags:
        - Account Information
      summary: getAccount
      description: The endpoint will retrieve the account with balance information based on a specific account identification.
      operationId: getAccount
      parameters:
        - name: X-BIC
          in: header
          description: Specify the BIC of the provider of the service. The identification will be used by the API Gateway to forward the request to service provider.
          required: true
          style: simple
          schema:
            type: string
            examples:
              - DEUTDEFF
        - name: account-identification
          in: path
          description: >-
            An unique and unambiguous identification for the account as assigned by the account servicer. It can be in IBAN or proprietary format.


            RECOMMENDATION IN ORDER OF PREFERENCE:

            IBAN - When available IBAN must be specified for instance endpoint or hyper link to work.

            Other - In the absence of IBAN, this must be an unique account identification used for routing of the payment to the account via clearing system. A format which is agreed between the account owner and the account servicer. For example a SWIFT BIC/Branch Code and Account number.
          required: true
          style: simple
          schema:
            maxLength: 36
            type: string
            examples:
              - DE27212110090000000235698765
        - name: X-Request-ID
          in: header
          description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
          style: simple
          schema:
            type: string
        - name: X-UserContext
          in: header
          description: Provides requester entitlement information to service provider. A JWT containing a claim representing the entitlements of the API consumer as defined at the SWIFT Identity Provider. This header is provided by the SWIFT API Gateway and is not required to be provided by the API consumer.
          style: simple
          schema:
            type: string
            examples:
              - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIiLCJuYW1lIjoiIiwiaWF0IjowfQ.u_kftAUkjiUZO-OhIyj24H7lOUk1wi9GUF-e14JmCtQ
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CashAccount41"
                  - description: Specifies the details of the cash account.
                    examples:
                      - '{"account_identification":"string","alternate_identification":"3fa85f64-5717-4562-b3fc-2c963f66afa6","account_servicer":"6XI9UOK4NWX","name":"string","owner_name":"string","currency":"EUR","related_account":"string","balances":{"current_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"0000000000000000000"},"credit_debit_indicator":"CRDT"},"last_change_date_time":"2022-04-12T17:20:23+01:00","date_time":"2022-04-12T07:10:35+01:00","last_committed_transaction_identification":"string","credit_line":[{"included":true,"type":"string","amount":{"currency":"EUR","amount":"0000000000000000000"}}]},"available_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"0000000000000000000"},"credit_debit_indicator":"CRDT"},"availability_date":"2022-04-12T07:10:35+01:00"},"forward_available_balance":[{"balance_amount":{"amount":{"currency":"EUR","amount":"0000000000000000000"},"credit_debit_indicator":"CRDT"},"availability_date":"2022-04-12"}]},"status":"string","credit_limit":{"currency":"EUR","amount":"0000000000000000000"},"links":[{"href":"string","rel":"string","type":"string"}]}'
                      - '{"account_identification":"DE27212110090000000235698765","alternate_identification":"3fa85f64-5717-4562-b3fc-2c963f66afa6","name":"SC Account 1","owner_name":"Sample Corporate 1","currency":"EUR","related_account":"SC Card Account","balances":{"current_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"350656.25"},"credit_debit_indicator":"CRDT"},"last_change_date_time":"2020-07-06T17:26:00.000+01:00","date_time":"2020-07-06T17:30:00.000+01:00","last_committed_transaction_identification":"3bf77b43-4833-1290-f2ca-4c599deb6","credit_line":[{"included":false,"type":"ABCD","amount":{"currency":"EUR","amount":"500000.00"}}]},"available_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"350656.25"},"credit_debit_indicator":"CRDT"},"availability_date":"2020-07-06T17:26:00.000+01:00"},"forward_available_balance":[{"balance_amount":{"amount":{"currency":"EUR","amount":"578295.00"},"credit_debit_indicator":"CRDT"},"availability_date":"2020-07-06"}]},"status":"enabled","credit_limit":{"currency":"EUR","amount":"6545.56"}}'
                      - '{"account_identification":"DE27212318890001010223463465","alternate_identification":"7dca010b-fc3b-496c-b8a4-36ffd78f674d","name":"SC Account 2","owner_name":"Sample Corporate 2","currency":"EUR","related_account":"SC Card Account","balances":{"current_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"632100.00"},"credit_debit_indicator":"CRDT"},"last_change_date_time":"2020-07-06T15:45:00.000+01:00","date_time":"2020-07-06T15:50:00.000+01:00","last_committed_transaction_identification":"4ff34c43-4293-1291-f2ca-4c599cff5","credit_line":[{"included":true,"type":"ABCD","amount":{"currency":"EUR","amount":"200000.00"}}]},"available_balance":{"balance_amount":{"amount":{"currency":"EUR","amount":"632100.00"},"credit_debit_indicator":"CRDT"},"availability_date":"2020-07-06T17:26:00.000+01:00"},"forward_available_balance":[{"balance_amount":{"amount":{"currency":"EUR","amount":"356100.00"},"credit_debit_indicator":"CRDT"},"availability_date":"2020-07-06"}]},"status":"enabled"}'
                contentMediaType: application/json
              examples:
                GetAccount-Raw:
                  summary: Account Raw Response
                  value:
                    account_identification: string
                    alternate_identification: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    account_servicer: 6XI9UOK4NWX
                    name: string
                    owner_name: string
                    currency: EUR
                    related_account: string
                    balances:
                      current_balance:
                        balance_amount:
                          amount:
                            currency: EUR
                            amount: "0000000000000000000"
                          credit_debit_indicator: CRDT
                        last_change_date_time: 2022-04-12T17:20:23+01:00
                        date_time: 2022-04-12T07:10:35+01:00
                        last_committed_transaction_identification: string
                        credit_line:
                          - included: true
                            type: string
                            amount:
                              currency: EUR
                              amount: "0000000000000000000"
                      available_balance:
                        balance_amount:
                          amount:
                            currency: EUR
                            amount: "0000000000000000000"
                          credit_debit_indicator: CRDT
                        availability_date: 2022-04-12T07:10:35+01:00
                      forward_available_balance:
                        - balance_amount:
                            amount:
                              currency: EUR
                              amount: "0000000000000000000"
                            credit_debit_indicator: CRDT
                          availability_date: 2022-04-12
                    status: string
                    credit_limit:
                      currency: EUR
                      amount: "0000000000000000000"
                    links:
                      - href: string
                        rel: string
                        type: string
                account_full_detail_1:
                  summary: Account with balances, account ID DE27212110090000000235698765
                  value:
                    account_identification: DE27212110090000000235698765
                    alternate_identification: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    name: SC Account 1
                    owner_name: Sample Corporate 1
                    currency: EUR
                    related_account: SC Card Account
                    balances:
                      current_balance:
                        balance_amount:
                          amount:
                            currency: EUR
                            amount: "350656.25"
                          credit_debit_indicator: CRDT
                        last_change_date_time: 2020-07-06T17:26:00.000+01:00
                        date_time: 2020-07-06T17:30:00.000+01:00
                        last_committed_transaction_identification: 3bf77b43-4833-1290-f2ca-4c599deb6
                        credit_line:
                          - included: false
                            type: ABCD
                            amount:
                              currency: EUR
                              amount: "500000.00"
                      available_balance:
                        balance_amount:
                          amount:
                            currency: EUR
                            amount: "350656.25"
                          credit_debit_indicator: CRDT
                        availability_date: 2020-07-06T17:26:00.000+01:00
                      forward_available_balance:
                        - balance_amount:
                            amount:
                              currency: EUR
                              amount: "578295.00"
                            credit_debit_indicator: CRDT
                          availability_date: 2020-07-06
                    status: enabled
                    credit_limit:
                      currency: EUR
                      amount: "6545.56"
                account_full_detail_2:
                  summary: Account with balances, account ID DE27212318890001010223463465
                  value:
                    account_identification: DE27212318890001010223463465
                    alternate_identification: 7dca010b-fc3b-496c-b8a4-36ffd78f674d
                    name: SC Account 2
                    owner_name: Sample Corporate 2
                    currency: EUR
                    related_account: SC Card Account
                    balances:
                      current_balance:
                        balance_amount:
                          amount:
                            currency: EUR
                            amount: "632100.00"
                          credit_debit_indicator: CRDT
                        last_change_date_time: 2020-07-06T15:45:00.000+01:00
                        date_time: 2020-07-06T15:50:00.000+01:00
                        last_committed_transaction_identification: 4ff34c43-4293-1291-f2ca-4c599cff5
                        credit_line:
                          - included: true
                            type: ABCD
                            amount:
                              currency: EUR
                              amount: "200000.00"
                      available_balance:
                        balance_amount:
                          amount:
                            currency: EUR
                            amount: "632100.00"
                          credit_debit_indicator: CRDT
                        availability_date: 2020-07-06T17:26:00.000+01:00
                      forward_available_balance:
                        - balance_amount:
                            amount:
                              currency: EUR
                              amount: "356100.00"
                            credit_debit_indicator: CRDT
                          availability_date: 2020-07-06
                    status: enabled
        "400":
          description: Bad Request
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                examples:
                  - - severity: Fatal
                      code: Sw.Stds.D00003
                      text: The value must match the rules specified in <Element Name>.
                      user_message: Invalid IBAN format or invalid check digits.
                      more_info: string
                contentMediaType: application/json
              examples:
                ResponseCode-400-IBAN:
                  summary: No entitlement for the BIC
                  value:
                    - severity: Fatal
                      code: Sw.Stds.D00003
                      text: The value must match the rules specified in <Element Name>.
                      user_message: Invalid IBAN format or invalid check digits.
                      more_info: string
        "401":
          description: Unauthorized
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "403":
          description: Forbidden
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                examples:
                  - - severity: Fatal
                      code: Sw.Stds.XXXX
                      text: The Business identifier code supplied in <Element Name> is incorrect.
                      user_message: No entitlement for the supplied BIC.
                      more_info: string
                contentMediaType: application/json
              examples:
                ResponseCode-403:
                  summary: No entitlement for the BIC
                  value:
                    - severity: Fatal
                      code: Sw.Stds.XXXX
                      text: The Business identifier code supplied in <Element Name> is incorrect.
                      user_message: No entitlement for the supplied BIC.
                      more_info: string
        "404":
          description: Not Found
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "406":
          description: Not Acceptable
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "415":
          description: Unsupported Media Type
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "429":
          description: Too Many Requests
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "500":
          description: Internal Server Error
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "502":
          description: Bad Gateway
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "503":
          description: Service Unavailable
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "504":
          description: Gateway Timeout
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        default:
          description: Internal Server Error
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /accounts/{account-identification}/transaction-summary:
    get:
      tags:
        - Account Information
      summary: getTransactionSummary
      description: The transaction summary endpoint provides the total net, debit and credit entries.
      operationId: getTransactionSummary
      parameters:
        - name: X-BIC
          in: header
          description: Specify the BIC of the provider of the service. The identification will be used by the API Gateway to forward the request to service provider.
          required: true
          style: simple
          schema:
            type: string
            examples:
              - DEUTDEFF
        - name: account-identification
          in: path
          description: >-
            An unique and unambiguous identification for the account as assigned by the account servicer. It can be in IBAN or proprietary format.


            RECOMMENDATION IN ORDER OF PREFERENCE:

            IBAN - When available IBAN must be specified for instance endpoint or hyper link to work.

            Other - In the absence of IBAN, this must be an unique account identification used for routing of the payment to the account via clearing system. A format which is agreed between the account owner and the account servicer. For example a SWIFT BIC/Branch Code and Account number.
          required: true
          style: simple
          schema:
            maxLength: 36
            type: string
            examples:
              - DE27212110090000000235698765
        - name: from-date
          in: query
          description: The start date for which summary information is requested. The result will be filtered on creation_date_time. Expressed in the YYYY-MM-DD format. The date cannot be in the future.
          required: true
          style: form
          explode: true
          schema:
            pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)$
            type: string
            examples:
              - 2021-09-15
        - name: X-Request-ID
          in: header
          description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
          style: simple
          schema:
            type: string
        - name: X-UserContext
          in: header
          description: Provides requester entitlement information to service provider. A JWT containing a claim representing the entitlements of the API consumer as defined at the SWIFT Identity Provider. This header is provided by the SWIFT API Gateway and is not required to be provided by the API consumer.
          style: simple
          schema:
            type: string
            examples:
              - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIiLCJuYW1lIjoiIiwiaWF0IjowfQ.u_kftAUkjiUZO-OhIyj24H7lOUk1wi9GUF-e14JmCtQ
        - name: to-date
          in: query
          description: The end date for which summary information is requested. The result will be filtered on creation_date_time. Expressed in the YYYY-MM-DD format. The date cannot be in the future.
          style: form
          explode: true
          schema:
            pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)$
            type: string
            examples:
              - 2021-09-15
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TransactionSummary1"
                  - description: Provides a summary on entries for a specific period.
                    examples:
                      - '{"account_identification":"string","from_date_time":"2022-04-12T21:44:56+01:00","to_date_time":"2022-04-12T20:10:42+01:00","total_entries":{"number_of_entries":"1574","total_net_entry":{"amount":{"currency":"EUR","amount":"0000000000000000000"},"credit_debit_indicator":"CRDT"}},"total_credit_entries":{"number_of_entries":"14717605","total":{"currency":"EUR","amount":"00000000666183886.3"}},"total_debit_entries":{"number_of_entries":"046724","total":{"currency":"EUR","amount":"0000000000000000000"}}}'
                      - '{"account_identification":"DE27212110090000000235698765","from_date_time":"2020-07-06T00:00:00.000+01:00","to_date_time":"2020-07-06T18:00:00.000+01:00","total_entries":{"number_of_entries":"5","total_net_entry":{"amount":{"currency":"EUR","amount":"127024.33"},"credit_debit_indicator":"CRDT"}},"total_credit_entries":{"number_of_entries":"3","total":{"currency":"EUR","amount":"216355.00"}},"total_debit_entries":{"number_of_entries":"2","total":{"currency":"EUR","amount":"89330.67"}}}'
                      - '{"account_identification":"DE27212110090000000235698765","from_date_time":"2020-07-06T00:00:00.000+01:00","to_date_time":"2020-07-06T18:00:00.000+01:00","total_entries":{"number_of_entries":"15","total_net_entry":{"amount":{"currency":"EUR","amount":"432100"},"credit_debit_indicator":"CRDT"}},"total_credit_entries":{"number_of_entries":"11","total":{"currency":"EUR","amount":"297450.00"}},"total_debit_entries":{"number_of_entries":"4","total":{"currency":"EUR","amount":"134650.00"}}}'
                contentMediaType: application/json
              examples:
                GetAccountTransactionSummary-Raw:
                  summary: Transaction Summary Raw Response
                  value:
                    account_identification: string
                    from_date_time: 2022-04-12T21:44:56+01:00
                    to_date_time: 2022-04-12T20:10:42+01:00
                    total_entries:
                      number_of_entries: "1574"
                      total_net_entry:
                        amount:
                          currency: EUR
                          amount: "0000000000000000000"
                        credit_debit_indicator: CRDT
                    total_credit_entries:
                      number_of_entries: "14717605"
                      total:
                        currency: EUR
                        amount: "00000000666183886.3"
                    total_debit_entries:
                      number_of_entries: "046724"
                      total:
                        currency: EUR
                        amount: "0000000000000000000"
                account_transactions_1:
                  summary: Transaction summary for account ID DE27212110090000000235698765
                  value:
                    account_identification: DE27212110090000000235698765
                    from_date_time: 2020-07-06T00:00:00.000+01:00
                    to_date_time: 2020-07-06T18:00:00.000+01:00
                    total_entries:
                      number_of_entries: "5"
                      total_net_entry:
                        amount:
                          currency: EUR
                          amount: "127024.33"
                        credit_debit_indicator: CRDT
                    total_credit_entries:
                      number_of_entries: "3"
                      total:
                        currency: EUR
                        amount: "216355.00"
                    total_debit_entries:
                      number_of_entries: "2"
                      total:
                        currency: EUR
                        amount: "89330.67"
                account_transactions_2:
                  summary: Transaction summary for account ID DE27212110090000000235698765
                  value:
                    account_identification: DE27212110090000000235698765
                    from_date_time: 2020-07-06T00:00:00.000+01:00
                    to_date_time: 2020-07-06T18:00:00.000+01:00
                    total_entries:
                      number_of_entries: "15"
                      total_net_entry:
                        amount:
                          currency: EUR
                          amount: "432100"
                        credit_debit_indicator: CRDT
                    total_credit_entries:
                      number_of_entries: "11"
                      total:
                        currency: EUR
                        amount: "297450.00"
                    total_debit_entries:
                      number_of_entries: "4"
                      total:
                        currency: EUR
                        amount: "134650.00"
        "400":
          description: Bad Request
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                examples:
                  - - severity: Fatal
                      code: Sw.Stds.D00003
                      text: The value must match the rules specified in <Element Name>.
                      user_message: Invalid IBAN format or invalid check digits.
                      more_info: string
                contentMediaType: application/json
              examples:
                ResponseCode-400-IBAN:
                  summary: No entitlement for the BIC
                  value:
                    - severity: Fatal
                      code: Sw.Stds.D00003
                      text: The value must match the rules specified in <Element Name>.
                      user_message: Invalid IBAN format or invalid check digits.
                      more_info: string
        "401":
          description: Unauthorized
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "403":
          description: Forbidden
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                examples:
                  - - severity: Fatal
                      code: Sw.Stds.XXXX
                      text: The Business identifier code supplied in <Element Name> is incorrect.
                      user_message: No entitlement for the supplied BIC.
                      more_info: string
                contentMediaType: application/json
              examples:
                ResponseCode-403:
                  summary: No entitlement for the BIC
                  value:
                    - severity: Fatal
                      code: Sw.Stds.XXXX
                      text: The Business identifier code supplied in <Element Name> is incorrect.
                      user_message: No entitlement for the supplied BIC.
                      more_info: string
        "404":
          description: Not Found
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "406":
          description: Not Acceptable
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "415":
          description: Unsupported Media Type
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "429":
          description: Too Many Requests
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "500":
          description: Internal Server Error
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "502":
          description: Bad Gateway
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "503":
          description: Service Unavailable
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        "504":
          description: Gateway Timeout
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
        default:
          description: Internal Server Error
          headers:
            X-Request-ID:
              description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
              content:
                text/plain:
                  schema:
                    type: string
                    description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
                    contentMediaType: text/plain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErrorMessage"
                description: Container to return multiple ErrorMessage object. Collection of error can be useful when API needs to return multiple errors, for example validation errors. When the response code conveys application-specific functional semantics and consumer can parse machine-readable error code, this block can be useful. The error response must contain at least one error object.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /accounts/{account-identification}/statement-lines:
    get:
      tags:
        - Reporting
      summary: getStatementLines
      description: "The API endpoint is used by the consumer of the API to get entries reported to the account. This will include all debit and/or credit entries booked to the account for the specified period to enable intraday reconciliation. Includes pending and booked items.\n\nResponse:\n\n* The endpoint will return HTTP response code 404 if the requested account does not exists. \n\n* The endpoint will return an empty array if the requested account exists but no entries found or no entries found by the query criteria. For example \"statement_line\": [].\n"
      operationId: getStatementLines
      parameters:
        - name: X-BIC
          in: header
          description: Specify the BIC of the provider of the service. The identification will be used by the API Gateway to forward the request to service provider.
          required: true
          style: simple
          schema:
            type: string
            examples:
              - DEUTDEFF
        - name: account-identification
          in: path
          description: >-
            An unique and unambiguous identification for the account as assigned by the account servicer. It can be in IBAN or proprietary format.


            RECOMMENDATION IN ORDER OF PREFERENCE:

            IBAN - When available IBAN must be specified for instance endpoint or hyper link to work.

            Other - In the absence of IBAN, this must be an unique account identification used for routing of the payment to the account via clearing system. A format which is agreed between the account owner and the account servicer. For example a SWIFT BIC/Branch Code and Account number.
          required: true
          style: simple
          schema:
            maxLength: 36
            type: string
            examples:
              - DE27212110090000000235698765
        - name: X-Request-ID
          in: header
          description: Specify an unique end to end tracking request ID. The element will be populated by the SWIFT API gateway
          style: simple
          schema:
            type: string
        - name: X-UserContext
          in: header
          description: Provides requester entitlement information to service provider. A JWT containing a claim representing the entitlements of the API consumer as defined at the SWIFT Identity Provider. This header is provided by the SWIFT API Gateway and is not required to be provided by the API consumer.
          style: simple
          schema:
            type: string
            examples:
              - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIiLCJuYW1lIjoiIiwiaWF0IjowfQ.u_kftAUkjiUZO-OhIyj24H7lOUk1wi9GUF-e14JmCtQ
        - name: offset
          in: query
          description: Specifies the offset / starting point in the list of all available items, starting from which results will be returned. The numeric offset identifies the page token, allowing users to advance to the next page in the collection. The value 0 (zero) identifies the first page of entry.
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            contentEncoding: int32
            default: 0
            examples:
              - 0
        - name: limit
          in: query
          description: The maximum number of items to return in a page. If unspecified, the default limit will be returned. If the limit specified is greater than the maximum permitted by the API, the API will return the maximum permitted limit. Each API should define *maximum and *default limit.
          style: form
          explode: true
          schema:
            minimum: 1
            type: integer
            contentEncoding: int32
            examples:
              - 1000
        - name: creation-from-time
          in: query
          description: >-
            A particular point in the progression of time in a calendar day expressed in local time format (hh:mm:ss.sss). These representations are aligned with ISO 8601.

            Note on the time format:

            * beginning / end of calendar day

            00:00:00 = the beginning of a calendar day

            24:00:00 = the end of a calendar day

            * fractions of second in time format

            Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.

            * If the parameter is omitted, all entries from the beginning of the day will be included.


            The result will be filtered on creation_date_time of the entry.
          style: form
          explode: true
          schema:
            pattern: ^(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d((?:\.[0-9]+)?)?(?:Z|[+-][01]\d:[0-5]\d)?$
            type: string
            examples:
              - 00:00:00
        - name: creation-to-time
          in: query
          description: >-
            A particular point in the progression of time in a calendar day expressed in local time format (hh:mm:ss.sss). These representations are aligned with ISO 8601.

            Note on the time format:

            * beginning / end of calendar day

            00:00:00 = the beginning of a calendar day

            24:00:00 = the end of a calendar day

            * fractions of second in time format

            Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.

            * If the parameter is omitted, all entries from the beginning of the day up to the request time will be included.


            The query parameter can use either a specific creation_from_time or time range in the form of creation_from_time and creation_to_time. For up to a requested time, creation_to_time must not be provided. The result will be filtered on creation_date_time.
          style: form
          explode: true
          schema:
            pattern: ^(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d((?:\.[0-9]+)?)?(?:Z|[+-][01]\d:[0-5]\d)?$
            type: string
            examples:
              - 23:59:00
        - name: credit-debit-code
          in: query
          description: >-
            Specifies if an operation is an increase or a decrease.

            *`CRDT_credit`-Operation is an increase.

            *`DBIT_debit`-Operation is a decrease.
          style: form
          explode: true
          schema:
            allOf:
              - $ref: "#/components/schemas/CreditDebitCode"
              - description: >-
                  Specifies if an operation is an increase or a decrease.

                  *`CRDT_credit`-Operation is an increase.

                  *`DBIT_debit`-Operation is a decrease.
                examples:
                  - CRDT
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
[...]
